/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ebbe1d;
  --ifm-color-primary-dark: #daaf13;
  --ifm-color-primary-darker: #cea512;
  --ifm-color-primary-darkest: #aa880f;
  --ifm-color-primary-light: #edc535;
  --ifm-color-primary-lighter: #eec841;
  --ifm-color-primary-lightest: #f1d366;

  --ifm-link-color: #307D77;
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ebbe1d;
  --ifm-color-primary-dark: #daaf13;
  --ifm-color-primary-darker: #cea512;
  --ifm-color-primary-darkest: #aa880f;
  --ifm-color-primary-light: #edc535;
  --ifm-color-primary-lighter: #eec841;
  --ifm-color-primary-lightest: #f1d366;
}

.navbar__link--active {
  background-color: var(--ifm-color-primary);
  border-radius: 14px;
  border: 2px solid var(--ifm-color-primary);
  color: #1c1e21;
}

.navbar__link:hover {
  color: var(--ifm-color-primary-darkest);
}

.navbar__link--active:hover {
  color: #fff;
}

.table-of-contents__link--active {
  color: var(--ifm-color-primary-darkest);
}

.table-of-contents__link:hover {
  color: var(--ifm-color-primary-darkest);
  text-decoration: underline;
}


.video_wrapper {
  position: relative;
  padding-bottom: 56.25%; /* Video aspect ratio: 100 / (16 / 9) */
  margin-top: 40px;
}

.video_player {
  position: absolute;
  top: 50;
  left: 0;
}

.hero--primary {
  --ifm-hero-text-color: #1c1e21;
  --ifm-link-color: #ebbe1d;
  --ifm-link-hover-color: #fff;
  background: rgb(235,190,29);
  background: linear-gradient(0deg, rgba(235,190,29,1) 0%, rgba(218,175,19,1) 100%);
}

.hero--primary a {
  background-color: var(--ifm-hero-text-color);
  padding: 2px;
  border-radius: 8px;
  border: 2px solid var(--ifm-hero-text-color);
}

.hero--image {
  margin-left: -50px;
  max-width: 600px;
}

.hero__text {
  text-align: left;
}

.hero__subtitle {
  font-weight: bold;
}

.hero__release a {
  background-color: transparent;
  border: 0px;
  color: var(--ifm-hero-text-color);
  font-size: 1.1rem;
  font-weight: bold;
}

.hero--video {
  margin-top: calc(var(--ifm-spacing-horizontal) * 14);
}

.hero--video video {
  border-radius: 30px;
  border: 6px solid var(--ifm-hero-text-color);
}

.footer {
  padding-bottom: 4rem;
}

.footer--dark {
  --ifm-footer-background-color: #18252D;
}

.docs-left-col h2,
.docs-left-col h3,
.docs-left-col h4 {
  scroll-margin-top: calc(var(--ifm-navbar-height) + 0.5rem);
}

.docs-toc {
  max-height: calc(100vh - var(--ifm-navbar-height) - 2rem);
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 1rem);
}

.docs-row {
  justify-content: center;
}

.video-row {
  justify-content: center;
}

.video-list {
  list-style: none;
  padding-top: 72px;
}

.video-list a {
  cursor: pointer;
}

.video-list a:hover {
  text-decoration: underline;
}

.releases-dropdown {
  color: #1c1e21;
}

/* Playground */
.playground-code-area,
.playground-output {
  width: 96%;
  height: 200px;
  padding: 8px;
  background-color: #dfdfdf;
  border: 0px;
  font-size: 1.1rem;
  overflow-y: scroll;
  border-radius: 10px;
  font-family: Roboto Mono, monospace;
  white-space: pre;
}

.playground-output {
  background-color: #18252D;
  color: #fff;
}

#playground-run {
  color: #18252D;
}

#playground-run:after {
  content: "\25B6";
  padding-left: 6px;
}

#playground-run.running:after {
  content: "";
}

.playground-exit-message {
  display: inline-block;
}

@media (max-width: 997px) {

  .docs-row .col--2 {
    display: none ;
  }

}
